*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    height: 100vh;
    background-color: brown;
    background: url(bg.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container {
    width: 50%;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
}

#timer {
    width: 100%;
    text-align: center;
    font-size: 75px;
    margin: 0px auto;
    padding: 25px;
}

.buttons {
    text-align: center;
    margin-top: 30px;
}

button{
    margin: 0 10px;
    border: none;
}

button i {
    font-size: 1.5rem;
    padding: 10px;
    color: #ffffff;
}

hr{
    border: 1px solid orange;
}
#play {
    background-color: green;
}

#pause {
    background-color: orange;
}
#reset {
    background-color: red;
}