*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
    height: 100vh;
    background-color: brown;
    background: url(bg.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container {
    width: 50%;
    height: 300px;
    background-color: #009160;
    border-radius: 15px;
    color: aliceblue;
}

#timer {
    text-align: center;
    font-size: 75px;
    padding: 25px;
}

.buttons {
    text-align: center;

}

button{
    background-color: black;
    border: none;
}

button i {
    font-size: 24px;
}